h1 {
    color: black;
    font-size: 50px;
}

h2 {
    color: #0f0f0f;
    font-size: 35px;
}

h3 {
    color: #1d1f1e;
    font-size: 25px;
}

h4 {
    color: #303331;
}

strong {
    color: #590c12;
}

* {
    margin: 1rem;
    padding: 0.5rem;
    font-family: 'Courier New', Courier, monospace;
    border: 2px;
}

.list-heading {
    font-size: 25px;
}

img {
    border-radius: 8px;
}

a {
    font-size: 25px;
}

li {
    padding: 0rem;
}

.recipe-header {
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 1rem;
    margin: 0;
    text-align: center;
}